PORT=3000
APP_URL=https://shivarpeth.online
APP_NAME=Shivar Peth
UPI_ID=7875721876@slc
PAYMENT_AMOUNT=199
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE-THIS-PASSWORD
SESSION_SECRET=CHANGE-THIS-LONG-RANDOM-SECRET
MAX_UPLOAD_MB=5
